@use './variables' as *;

html {
  font-size: $font-size-base;
}

body {
  font-family: $font-family-sans;
  line-height: $line-height-base;
  color: $color-text;
  background-color: $color-bg;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  margin-bottom: $spacing-md;
  font-size: $font-size-base;
  line-height: $line-height-base;
}
