@use './variables' as *;

.container {
  max-width: $max-content-width;
  margin-inline: auto;
  padding: $spacing-md;
}

.centered {
  display: flex;
  justify-content: center;
  padding: $spacing-xl;

  > * {
    max-width: $max-content-width;
    width: 100%;
  }
}


header {
  background-color: $color-brand-dark;
  color: $color-brand-light;
  text-align: center;
  padding: $spacing-md;
}

header h1 {
  font-size: $font-size-xl;
  margin: 0;
  line-height: $line-height-tight;
}
