<nav class="sd-nav">
  <a
    *ngIf="siteConfig.lsIsActive"
    class="nav-button active"
    href="https://legendarysisters.com"
  >
    Legendary Sisters
  </a>
  <span
    *ngIf="!siteConfig.lsIsActive"
    class="nav-button"
  >
    Legendary Sisters
  </span>

  <a
    *ngIf="siteConfig.sdIsActive"
    class="nav-button active"
    href="https://studiodoggebi.com"
  >
    Studio Doggebi
  </a>
  <span
    *ngIf="!siteConfig.sdIsActive"
    class="nav-button"
  >
    Studio Doggebi
  </span>
</nav>
